body {
  background: #eee;
  font-family: sans-serif;
  padding: 5px 33vw;
}

.card {
  width: 400px;
  background: #fff;
  margin: 5px 5px 5px 5px;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 0px 0px;
  padding: 5px 10px;
}

.content {
  background: #e3f4ff;
  margin: 10px 0px 0px;
  padding: 20px 10px;
}

.button-container {
  background: #e3f4ff;
  margin: 10px 0 0 0;
  text-align: center;
  padding: 7px 0;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0px auto 0px auto;
  padding: 5px 15px;
}