* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: monospace;
  background: papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  text-decoration: none;
}

.header li, .logo {
  margin: 1vw;
}

.left-links ul, .right-links ul, .logo {
  display: flex;
  flex-wrap: nowrap;
}

.left-links ul {
  justify-content: flex-start;
}

.right-links ul {
  justify-content: flex-end;
}

.logo {
  justify-content: center;
}

